<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo01.mapper.IncMapper">
    <select id="findById" parameterType="int" resultType="com.example.demo01.domain.Company">
        select * from company where id=#{id}
    </select>

    <select id="findNameById" parameterType="int" resultType="string">
        select name from company where id=#{id}
    </select>
    <select id="findNameByPid" parameterType="int" resultType="string">
        select name from company where id=(select comid from preach where id=#{pid})
    </select>

    <select id="findAll" resultType="com.example.demo01.domain.Company">
        select * from company
    </select>

    <insert id="add" parameterType="int">
        insert into company (id) values (#{id})
    </insert>

    <update id="update" parameterType="company">
        update company
        <set>
            <if test="name != null">name=#{name},</if>
            <if test="trades != null">trades=#{trades},</if>
            <if test="scale != null">scale=#{scale},</if>
            <if test="tel != null">tel=#{tel},</if>
            <if test="email != null">email=#{email},</if>
            <if test="unicode != null">unicode=#{unicode},</if>
            <if test="charger != null">charger=#{charger},</if>
            <if test="intro != null">intro=#{intro},</if>
            <if test="bl != null">bl=#{bl},</if>
            <if test="addr != null">addr=#{addr},</if>
            <if test="note != null">note=#{note},</if>
            <if test="intro != null">intro=#{intro}</if>
        </set>
        where id=#{id}
    </update>

    <update id="changeStatus" parameterType="company">
        update company
        <set>
            <if test="status != null">status=#{status},</if>
            <if test="note != null">note=#{note}</if>
        </set>
        where id=#{id}
    </update>
</mapper>