<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo01.mapper.InterviewMapper">


    <insert id="add" parameterType="com.example.demo01.domain.Interview">
        insert into interview
        <set>
            <if test="pid != null">pid=#{pid},</if>
            <if test="sid != null">sid=#{sid}</if>
        </set>
    </insert>

    <update id="updateStatus" parameterType="com.example.demo01.domain.Interview">
        update interview
        <set>
            <if test="status != null">status=#{status},</if>
            <if test="reply != null">reply=#{reply}</if>
        </set>
        where id=#{id}
    </update>

    <select id="findBySid" resultType="com.example.demo01.domain.Interviewpro" parameterType="int">
        select * from interview where sid=#{sid}
    </select>

    <select id="findByComid" parameterType="int" resultType="com.example.demo01.domain.Interviewstu">
        select * from interview where pid in (select id from preach where comid=#{comid} order by time desc)
    </select>

    <select id="findById" parameterType="int" resultType="com.example.demo01.domain.Interviewstu">
        select * from interview where id=#{id}
    </select>




</mapper>